/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  line-height: 1.35;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #555;
  background: #fbfbfb;
}
.events-table {
  width: 100%;
}
.events-table__category-indicator {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.events-table tr {
  background: #eee;
}
.events-table tr:nth-child(even) {
  background: #fff;
}
.events-table th {
  background: #d2d2d2;
}
.events-table th,
.events-table td {
  text-align: left;
  padding: 0.5rem;
}
.events-table td:last-child {
  text-align: right;
}
.add-event-visibility-trigger {
  background: #eaeaea;
  padding: 1rem;
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
}
.event-adder {
  background: #eaeaea;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.event-adder__inner {
  display: flex;
  flex-flow: row wrap;
  margin: -0.5rem;
}
.event-adder__left-column,
.event-adder__right-column {
  min-width: 200px;
  max-width: 270px;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.event-adder__button-wrap {
  padding: 0.5rem;
  width: 100%;
  text-align: left;
}
.event-adder__button-wrap button {
  background: orange;
  color: #fff;
  padding: 0.35rem;
}
.event-adder__button-wrap button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.event-adder label>span {
  display: block;
}
.event-adder input {
  display: block;
  height: 25px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.category-picker {
  overflow: hidden;
  margin: 0.25rem 0;
}
.category-picker__inner {
  display: flex;
  flex-flow: row wrap;
  margin: -0.25rem;
}
.category-picker__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}
.category-picker__item:hover {
  opacity: 1;
}
.category-picker__item--active {
  opacity: 1;
}
.category-picker__item--active:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.8;
}
.events-page-layout {
  max-width: 1280px;
  margin: 0 auto;
}
.events-page-layout__inner {
  display: flex;
  flex-flow: row nowrap;
}
.events-page-layout__left-column {
  padding: 0.5rem;
  overflow-x: auto;
}
.events-page-layout__left-column table {
  width: 640px;
  padding: 0.5rem;
}
.events-page-layout__right-column {
  padding: 0.5rem;
}
.events-page-layout__sticky {
  position: sticky;
  top: 0.5rem;
}
@media (max-width: 940px) {
  .events-page-layout__inner {
    flex-flow: column;
  }
  .events-page-layout__left-column {
    order: 2;
  }
}
